# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables and binary stuff:
*.exe
*.out
*.app
*.project
images/digits/*.bmp
weights.txt
images/digits/LICENSE
images/digits/topology.txt
images/digits/inputData.txt
neural2d
neural2d.cbp

